<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="CompositeUI" type="Microsoft.Practices.CompositeUI.Configuration.SettingsSection,
            Microsoft.Practices.CompositeUI" allowExeDefinition="MachineToLocalUser"/>
  </configSections>
  <CompositeUI>
    <services>
      <add serviceType="CABCustomer.Contract.ICustomerService, CABCustomer.Contract" instanceType="CABCustomer.Service.CustomerService, CABCustomer.Service"/>
    </services>
  </CompositeUI>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
